
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>E-Commerce Store</title>

   
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

   
  </head>

  <body>
    <div class="container">
      <div class="header">
          <nav>
              <ul class="nav justify-content-end">
                  <li class="nav-item" role="presentation" >
                    <a class="nav-link"class="nav-link" href="/">Home</a>
                  </li>
                  {% if session['username'] %}
                  <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/logout">Logout<a>
                  </li>
                  {% else %}
                  <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/login">Sign In</a>
                  </li>
                  <li class="nav-item" role="presentation" class="active">
                    <a class="nav-link" href="/signup">Sign Up</a>
                  </li>
                  {% endif %}
              </ul>
        </nav>
        <h3 class="text-muted">E-Commerce Store</h3>
      </div>

      <div class="jumbotron text-center">
        <h1>Site under construction</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/signup" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Produto Exemplo</h4>
          <p>Descrição do Produto.</p>

          <h4>Produto Exemplo</h4>
          <p>Descrição do Produto.</p>

          <h4>Produto Exemplo</h4>
          <p>Descrição do Produto.</p>
        </div>

        <div class="col-lg-6">
          <h4>Produto Exemplo</h4>
          <p>Descrição do Produto.</p>

          <h4>Produto Exemplo</h4>
          <p>Descrição do Produto.</p>

          <h4>Produto Exemplo</h4>
          <p>Descrição do Produto.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Clientes_02 2018</p>
      </footer>

    </div>
  </body>
</html>

