<!DOCTYPE html>
<html lang="en">
<head>
  <title>E-Commerce Pedidos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="../static/css/signup.css" rel="stylesheet">
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script src="../static/js/jquery.validate.js"></script>
  <script src="../static/js/orders.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>E-Commerce</h1>
    <p>Clientes 02<p>
  </div>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/product_search/">Products</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/cart">Carrinho</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if session['username'] %}
        <li class="nav-item" role="presentation"><a class="nav-link" href="/logout">Logout</a></li>
        <li class="nav-item active" role="presentation"><a class="nav-link" href="/update">Perfil</a></li>
        {% else %}
        <li class="nav-item" role="presentation"><a class="nav-link" href="/login">Sign In</a></li>
        <li class="nav-item" role="presentation" class="active"><a class="nav-link" href="/signup">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-sm-1"></div>
  <div class=" col-sm-2 navbar navbar-inverse sidebar">
    <br>
    <ul class="nav navbar-nav nav-sidebar">
      <li class="nav-item " role="presentation"><a class="nav-link" href="/update">Dados Pessoais</a></li>
      <li class="nav-item active" role="presentation"><a class="nav-link" href="/orders">Ver Pedidos</a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="/sac">Mensagens</a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="#">Alterar Email</a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="#">Alterar Senha</a></li>
    </ul>
    <br>
    </div>
  <div class="jumbotron text-center col-sm-8">
    <h2>Pedidos</h2>
    <br>
    <div id="orders">
      <div class="panel panel-success hidden">
        <div class="row">
          <div class="col-sm-4"><h6><b>Pedido nº 999999</h6></b></div>
          <div class="col-sm-8"></div>
        </div>
        <div class="row">
          <div class="col-sm-4"><h5>99 produtos</h5></div>
          <div class="col-sm-4"><h5><b>R$ 999,99</b></h5></div>
          <div class="col-sm-4"><button id="btnDetailstest" type="button" class="btn btn-success btn-sm">Ver Detalhes</button></div>
        </div>
        <div class="row">
          <div class="col-sm-4"><h5>Status da Entrega</h5></div>
          <div class="col-sm-4"><h5>Status do Pagamento</h5></div>
          <div class="col-sm-4"></div>
        </div>
        <br>
        <div id="detailstest" class="row hidden">
          <div class="col-sm-1"></div>
          <div class="col-sm-10 panel panel-success">
            <div class="col-sm-5">
              <h4><b>Produtos</b></h4>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th class="col-md-4 text-center">Item</th>
                    <th class="col-md-4 text-center">Quantidade</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Coisa</td>
                    <td>1</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-7">
              <h4><b>Informações de Entrega</b></h4>
              <h6>CEP de Entrega:12121212</h6>
              <h6>Tipo de Entrega: PAC</h6>
              <br>
              <h5><b>Historico de Rastreio</b></h5>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th class="col-md-4 text-center">Hora</th>
                    <th class="col-md-4 text-center">Local</th>
                    <th class="col-md-4 text-center">Mensagem</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2011-10-05T20:05:00.000Z</td>
                    <td>CDC Indaiatuba</td>
                    <td>Entregue</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
<br>
<footer class="footer">
  <p>&copy; Clientes_02 2018</p>
</footer>

</body>
</html>

