<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comprar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/jquery.validate.js"></script>
    <script src="../static/js/purchase.js"></script>
    <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }

    </style>
</head>
<body>

<div class="jumbotron">
    <div class="container text-center">
        <h1>E-Commerce</h1>
        <p>Clientes 02
        <p>
    </div>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/product_search/">Products</a></li>
                <li><a href="/cart">Carrinho</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if session['username'] %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="/logout">Logout</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/update">Perfil</a></li>
                {% else %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="/login">Sign In</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/signup">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="jumbotron text-center col-sm-10">
        <div class="col-sm-7 nopadding">
            <h2>Pagamento</h2>
            <div class ="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3"><button id="btnCredit" class="btn btn-sm btn-primary btn-block" type="button">Catão</button></div>
                <div class="col-sm-3"><button id="btnTicket" class="btn btn-sm btn-primary btn-block" type="button">Boleto</button></div>
                <div class="col-sm-3"></div>
            </div>
            <br>
            <div class ="row nopadding">
                <form id="formAddress">
                    <div class="col-sm-12"> 
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Usar endereço cadastrado</label>
                    </div>
                    <div class="col-sm-10 nopadding address_b">
                        <label for="inputAddress">Endereço</label>
                        <input type="text" name="address" id="inputAddress" class="form-control" placeholder="Endereço" required>
                    </div>
                    <div class="col-sm-2 nopadding address_b">
                        <label for="inputCep">Cep</label>
                        <input type="text" name="cep" id="inputCep" class="form-control" placeholder="XXXXXXXX" required>
                    </div>
                </form>
            </div>
            <form id="formCredit">
                <div class ="row">
                    <div class="col-sm-8">
                        <label for="inputName">Nome no Cartão</label>
                        <input type="name" name="clientCardName" id="inputName" class="form-control" placeholder="Nome no Cartão" required autofocus>
                    </div>
                    <div class="col-sm-4">
                        <label for="inputCpf">CPF</label>
                        <input type="text" name="cpf" id="inputCpf" class="form-control" placeholder="XXXXXXXXXXX" required>
                    </div>
                </div>

                <div class ="row">
                    <div class="col-sm-4">
                        <label for="inputNumer">Numero do Cartão</label>
                        <input type="text" name="cardNumber" id="inputNumer" class="form-control" placeholder="XXXXXXXXXXXXXXXX" required>
                    </div>
                    <div class="col-sm-4">
                        <label for="inputSecurityCode">Código de Segurança</label>
                        <input type="text" name="securityCode" id="inputSecurityCode" class="form-control" placeholder="Security Number" required>
                    </div>
                    <div class="col-sm-2">
                        <label for="inputMonth">Mês</label>
                        <input type="text" name="month" id="inputMonth" class="form-control" placeholder="MM" required>
                    </div>
                    <div class="col-sm-2">
                        <label for="inputYear">Ano</label>
                        <input type="text" name="year" id="inputYear" class="form-control" placeholder="YYYY" required>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="inputinstalments">Parcelas:</label>
                        <select class="form-control" id="inputinstalments">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                    </div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-4">
                        <br>
                        <button id="btnPay" class="btn btn-lg btn-primary btn-block" type="button" disabled>Comprar</button>
                    </div>
                </div>
            </form>

            <form id="formTicket" class="hidden">
                <div class ="row">
                    <div class="col-sm-8">
                        <label for="inputNameTicket">Nome</label>
                        <input type="name" name="clientName" id="inputNameTicket" class="form-control" placeholder="Nome" required autofocus>
                    </div>
                    <div class="col-sm-4">
                        <label for="inputCpfTicket">CPF</label>
                        <input type="text" name="cpf" id="inputCpfTicket" class="form-control" placeholder="XXXXXXXXXXX" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-4">
                        <br>
                        <button id="btnPayTicket" class="btn btn-lg btn-primary btn-block" type="button" disabled>Comprar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-5">
            <h3>Carrinho</h3>
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="col-md-8 text-center">Nome</th>
                        <th class="col-md-4 text-center">Preço</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<br>
<footer class="footer">
    <p>&copy; Clientes_02 2018</p>
</footer>

</body>
</html>
