<!DOCTYPE html>
<html lang="en">
<head>
  <title>E-Commerce Perfil</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="../static/css/signup.css" rel="stylesheet">
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script src="../static/js/jquery.validate.js"></script>
  <script src="../static/js/update.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>E-Commerce</h1>
    <p>Clientes 02<p>
  </div>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/product_search/">Products</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/cart">Carrinho</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if session['username'] %}
        <li class="nav-item" role="presentation"><a class="nav-link" href="/logout">Logout</a></li>
        <li class="nav-item active" role="presentation"><a class="nav-link" href="/update">Perfil</a></li>
        {% else %}
        <li class="nav-item" role="presentation"><a class="nav-link" href="/login">Sign In</a></li>
        <li class="nav-item" role="presentation" class="active"><a class="nav-link" href="/signup">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-sm-1"></div>
  <div class=" col-sm-2 navbar navbar-inverse sidebar">
    <br>
    <ul class="nav navbar-nav nav-sidebar">
      <li class="nav-item active" role="presentation"><a class="nav-link" href="/update">Dados Pessoais</a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="/orders">Ver Pedidos</a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="/sac">Mensagens</a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="/change_email">Alterar Email</a></li>
    </ul>
    <br>
    </div>
  <div class="jumbotron text-center col-sm-8">
    <h3>Dados Pessoais</h3>
    <form class="form-signin">
      <label for="inputName">Nome</label>
      <input type="name" name="name" id="inputName" class="form-control" placeholder="Nome" disabled>
      <label for="inputCep">CEP</label>
      <input type="text" name="cep" id="inputCep" class="form-control" placeholder="CEP" disabled>
      <label for="inputPhone1">Telefone 1</label>
      <input type="text" name="phone1" id="inputPhone1" class="form-control" placeholder="Telefone 1" disabled>
      <label for="inputPhone2">Telefone 2</label>
      <input type="text" name="phone2" id="inputPhone2" class="form-control" placeholder="Telefone 2" disabled>
      <label for="inputCpf">CPF</label>
      <input type="text" name="cpf" id="inputCpf" class="form-control" placeholder="CPF" disabled>
      <label for="inputBirthday">Data de Nascimento</label>
      <input type="date" name="birthday" id="inputBirthday" class="form-control" placeholder="Data de Nascimento" disabled>
      <br>
      <div id="notEdit">
        <button id="btnEdit" class="btn btn btn-primary btn-block" type="button" disabled>Editar</button>
      </div>
      <div id="edit" class="hidden">
        <button id="btnCancel" class="btn btn btn-primary btn-block" type="button">Cancelar</button>
        <button id="btnUpdate" class="btn btn btn-primary btn-block" type="button">Atualizar</button>
      </div>
    </form>
  </div>
  <div class="col-sm-1"></div>
</div>
<br>
<footer class="footer">
  <p>&copy; Clientes_02 2018</p>
</footer>

</body>
</html>

